<%= form_with(model: copon, local: true) do |form| %>
  <% if copon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(copon.errors.count, "error") %> prohibited this copon from being saved:</h2>

      <ul>
      <% copon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :has_fixed_amount %>
    <%= form.check_box :has_fixed_amount %>
  </div>

  <div class="field">
    <%= form.label :discount %>
    <%= form.number_field :discount %>
  </div>

  <div class="field">
    <%= form.label :expiration_type %>
    <%= form.select(:expiration_type) do %>
      <%= options_for_select([['By Usage', "usage"], ['By date', "date"]], :id => 'hi') %>
    <% end %>
  </div>

  <div class="field" id="dates" hidden>
    <%= form.label :expiration_date %>
    <%= form.select(:expiration_date) do %>
      <% dates_array = ExpirationDate.get_all_dates.collect { |d| [d.date, d.id] } %>
      <%= options_for_select(dates_array) %>
    <% end %>
  </div>

  <div class="field" id="usages">
    <%= form.label :expiration_usage %>
    <%= form.select(:expiration_usage) do %>
      <% usages_array = ExpirationUsage.get_all_usages.collect { |u| [u.usage, u.id] } %>
      <%= options_for_select(usages_array) %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
