<p id="notice"><%= notice %></p>

<h1>Copons</h1>

<table>
  <thead>
    <tr>
      <th>Has fixed amount</th>
      <th>Discount</th>
      <th>Expiration type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @copons.each do |copon| %>
      <tr>
        <td><%= copon.has_fixed_amount %></td>
        <td><%= copon.discount %></td>
        <td><%= copon.expiration_type %></td>
        <td><%= link_to 'Show', copon %></td>
        <td><%= link_to 'Edit', edit_copon_path(copon) %></td>
        <td><%= link_to 'Destroy', copon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Copon', new_copon_path %>
