<%= @copon.inspect %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @copon.product.title %>
  <br>
  <% @copon.product.images.each do |image| %>
    <%= image_tag image, width: '80px', height: '80px' %>
  <% end %>
  <br>
  <%= @copon.product.category.name %> <%= " by " %>
  <%= @copon.product.brand.name %>
</p>

<p>
  <strong>Has fixed amount:</strong>
  <%= @copon.has_fixed_amount %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @copon.discount %>
  <%= @copon.get_symbol %>
</p>

<p>
  <strong>Expiration type:</strong>
  <%= "By" %>
  <%= @copon.expiration_type %>
</p>

<p>
  <strong>Expiration Criteria:</strong>
  <%= @copon.get_expiration %>
  <% if @copon.expiration_type == "usage" %>
    <%= "usages" %>
  <% end %>
</p>

<p>
  <strong>Is Expired:</strong>
  <%= @copon.is_expired %>
</p>

<%= link_to 'Edit', edit_copon_path(@copon) %> |
<%= link_to 'Back', copons_path %>
