<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <thead>
    <tr>
      <th>Price</th>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <th>Brand</th>
      <th>Images</th>
      <th>Order</th>
      <th>Delete</th>
      
    </tr>
  </thead>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= Product.find(order.product_id).price %></td>
        <td><%= Product.find(order.product_id).title %></td>
        <td><%= Product.find(order.product_id).description %></td>
        <td><%= Product.find(order.product_id).category.name %></td>
        <td><%= Product.find(order.product_id).brand.name %></td>
        <td>
          <div>
            <% Product.find(order.product_id).images.each do |image| %>
              <%= image_tag image, width: '80px', height: '80px' %>
            <% end %>
          </div>
        </td>

        <% if Product.find(order.product_id).quantity > 0 %>
          <td><%= link_to_if order.state == "added" , 'order', order_path(order),:method => :put  do
              order.state
          end
        %></td>
        <% else %>
          <td>Out of stock</td>
        <%end%>
         
       <td><%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
