<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <thead>
    <tr>
      <th>Price</th>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <th>Brand</th>
      <th>Images</th>
      <th></th>
      
    </tr>
  </thead>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= Product.find(order.product_id).price %></td>
        <td><%= Product.find(order.product_id).title %></td>
        <td><%= Product.find(order.product_id).description %></td>
        <td><%= Product.find(order.product_id).category.name %></td>
        <td><%= Product.find(order.product_id).brand.name %></td>
      <td> <div>
            <% Product.find(order.product_id).images.each do |image| %>
              <%= image_tag image, width: '80px', height: '80px' %>
            <% end %>
          </div></td>
          <% if Product.find(order.product_id).quantity > 0%>
        <td><%= link_to 'Checkout', order_path(order),:method => :put %></td>
          <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
