<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :brand %>
    <%= form.select(:brand) do %>
      <% brands_array = Brand.all.collect { |b| [b.name, b.id] } %>
      <% if product && product.brand %>
        <%= options_for_select(brands_array, :selected => product.brand.id) %>
      <% else %>
        <%= options_for_select(brands_array) %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select(:category) do %>
      <% categories_array = Category.all.collect { |c| [c.name, c.id] } %>
      <% if product && product.category %>
        <%= options_for_select(categories_array, :selected => product.category.id) %>
      <% else %>
        <%= options_for_select(categories_array) %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
