<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    
    <% if current_user %>
    <%= link_to_unless_current "Home", root_path, method: :get, :class => 'navbar-link'  %>
    <br>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <br>
    <%= link_to_unless_current "Edit profile", edit_user_registration_path, method: :get, :class => 'navbar-link'  %>
    <br>
    <% end %>
    <%= yield %>
  </body>
</html>
